<div class="container" *ngIf="id !== ''">
  <h3 class="float-left"><a href="#/style-guide-{{id}}">{{title}}</a></h3>
  <a class="float-right" href="#/style-guide" *ngIf="showStyleGuideLink">Back to Style Guide</a>
  <div class="clearfix"></div>
  <div [innerHTML]="html | sanitizeHtml" ngNonBindable></div>
  <br />
  <div [attr.id]="'accordion-' + id" role="tablist" aria-multiselectable="true" class="p-t-1">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="panel-buttons">
        <button class="collapse-link btn btn-primary btn-sm" data-toggle="collapse" [attr.data-parent]="'#accordion' + id" [attr.href]="'#collapse-' + id" 
            aria-expanded="true" [attr.aria-controls]="'collapse-' + id">Code <i class="fa fa-code"></i></button>        
        <a class="btn btn-secondary btn-sm" *ngIf="bootstrapUrlSuffix !== ''" [attr.href]="bootstrapUrlPrefix + bootstrapUrlSuffix" target="new">Bootstrap <i class="fa fa-external-link"></i></a>
        <div class="clearfix"></div>
      </div>
      <div [attr.id]="'collapse-' + id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-buttons">
<pre>
<code class="language-markup">
{{html}}
</code>
</pre>
      </div>
    </div>
  </div>
</div>
<div *ngIf="html === ''">
  <div class="display-1">
    BROKEN - {{title}}
  </div>
</div>