<app-theme-original *ngIf="theme.name === 'Original'"></app-theme-original>
<app-theme-custom-dark *ngIf="theme.name === 'Custom - Dark'"></app-theme-custom-dark>
<app-theme-custom-material *ngIf="theme.name === 'Custom - Material'"></app-theme-custom-material>
<app-theme-bootswatch-cerulean *ngIf="theme.name === 'Bootswatch - Cerulean'"></app-theme-bootswatch-cerulean>
<app-theme-bootswatch-cosmo *ngIf="theme.name === 'Bootswatch - Cosmo'"></app-theme-bootswatch-cosmo>
<app-theme-bootswatch-cyborg *ngIf="theme.name === 'Bootswatch - Cyborg'"></app-theme-bootswatch-cyborg>
<app-theme-bootswatch-darkly *ngIf="theme.name === 'Bootswatch - Darkly'"></app-theme-bootswatch-darkly>
<app-theme-bootswatch-flatly *ngIf="theme.name === 'Bootswatch - Flatly'"></app-theme-bootswatch-flatly>
<app-theme-bootswatch-journal *ngIf="theme.name === 'Bootswatch - Journal'"></app-theme-bootswatch-journal>
<app-theme-bootswatch-litera *ngIf="theme.name === 'Bootswatch - Litera'"></app-theme-bootswatch-litera>
<app-theme-bootswatch-lumen *ngIf="theme.name === 'Bootswatch - Lumen'"></app-theme-bootswatch-lumen>
<app-theme-bootswatch-lux *ngIf="theme.name === 'Bootswatch - Lux'"></app-theme-bootswatch-lux>
<app-theme-bootswatch-materia *ngIf="theme.name === 'Bootswatch - Materia'"></app-theme-bootswatch-materia>
<app-theme-bootswatch-minty *ngIf="theme.name === 'Bootswatch - Minty'"></app-theme-bootswatch-minty>
<app-theme-bootswatch-pulse *ngIf="theme.name === 'Bootswatch - Pulse'"></app-theme-bootswatch-pulse>
<app-theme-bootswatch-sandstone *ngIf="theme.name === 'Bootswatch - Sandstone'"></app-theme-bootswatch-sandstone>
<app-theme-bootswatch-simplex *ngIf="theme.name === 'Bootswatch - Simplex'"></app-theme-bootswatch-simplex>
<app-theme-bootswatch-slate *ngIf="theme.name === 'Bootswatch - Slate'"></app-theme-bootswatch-slate>
<app-theme-bootswatch-solar *ngIf="theme.name === 'Bootswatch - Solar'"></app-theme-bootswatch-solar>
<app-theme-bootswatch-spacelab *ngIf="theme.name === 'Bootswatch - Spacelab'"></app-theme-bootswatch-spacelab>
<app-theme-bootswatch-superhero *ngIf="theme.name === 'Bootswatch - Superhero'"></app-theme-bootswatch-superhero>
<app-theme-bootswatch-united *ngIf="theme.name === 'Bootswatch - United'"></app-theme-bootswatch-united>
<app-theme-bootswatch-yeti *ngIf="theme.name === 'Bootswatch - Yeti'"></app-theme-bootswatch-yeti>
