<footer class="footer">
    <div class="container text-center">
        <a href="#/">Home</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/style-guide">Style Guide</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="//www.johnlivingston.io" target="_new">
            johnlivingston.io
        </a> 
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="//github.com/jmlivingston/angular-bootstrap-stylizer" target="_new">
            GitHub
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="//jmlivingston.github.io/react-bootstrap-stylizer" target="_new">
            React Version
        </a>          
    </div>
</footer>