<footer class="footer bg-primary text-white">
    <div class="container text-center">
        <a href="#/" class="text-white">Home</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/style-guide" class="text-white">Style Guide</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="//www.johnlivingston.io" class="text-white" target="_new">
            johnlivingston.io
        </a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="//github.com/jmlivingston/angular-bootstrap-stylizer" target="_new" class="text-white">
            GitHub
        </a>
    </div>
</footer>